.mainHome {
  background-image: url("../assets/images/supportHome.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 530px;
  width: 98.7vw;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 80px;
}

.mainHome > div > h1 {
  font-weight: 800;
  font-size: xxx-large;
}

.heroImg {
  height: 450px;
  width: 450px;
  margin-right: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImg > img {
  height: 100%;
  width: 100%;
}

.heroTitle {
  height: 320px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 140px;
  margin-right: 80px;
}

.heroTitle > button {
  background-color: #353979;
  border-radius: 20px;
  padding: 8px 16px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.heroTitle > button:hover {
  background-color: #2b316d;
}

.video {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.videoContent {
  height: 80px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.videoContent > h2 {
  font-weight: bold;
  font-size: xx-large;
}

.childVideo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}

.innerVideo {
  height: 300px;
  width: 30%;
  border: 1px solid #353979;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.innerVideo:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 1200px) {
  .mainHome {
    flex-direction: column;
    height: auto;
    margin-top: 50px;
  }

  .heroTitle {
    width: 80%;
    margin-top: 20px;
    margin-right: 0;
    text-align: center;
  }

  .heroImg {
    width: 80%;
    height: auto;
    margin-right: 0;
  }

  .heroImg > img {
    width: 100%;
    height: auto;
  }

  .childVideo {
    flex-direction: column;
    gap: 10px;
  }

  .innerVideo {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .mainHome {
    width: 100vw;
    margin-top: 20px;
  }

  .heroTitle {
    width: 90%;
    margin-top: 10px;
  }

  .heroTitle > h1 {
    font-size: xx-large;
  }

  .videoContent > h2 {
    font-size: x-large;
  }
}

@media (max-width: 480px) {
  .mainHome {
    margin-top: 10px;
  }

  .heroTitle {
    width: 95%;
  }

  .heroTitle > h1 {
    font-size: large;
  }

  .heroTitle > button {
    padding: 6px 12px;
  }

  .videoContent > h2 {
    font-size: large;
  }
}
